
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Resultado IMC</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item >
      <ion-label>Info de {{nome}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Valor IMC: {{valorImc}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Classificação: {{classificacao}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Grau de Obesidade: {{grauobe}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>{{aviso}}</ion-label>
    </ion-item>
   <h3>Tabela de Valores/Grau</h3>
    <img src="assets/tabelaImc.jpeg">
  </ion-content>




