<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      IMC - Indíce de Massa Corporal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list>
<ion-item>
<ion-label position="fixed">Nome</ion-label>
<ion-input type="text" [(ngModel)]="nome"></ion-input>
</ion-item>
  <ion-item>
    <ion-label position="fixed">Peso</ion-label>
    <ion-input type="number" [(ngModel)]="peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Altura</ion-label>
      <ion-input placeholder="no lugar da virgula coloque um ponto Ex: 1,6 => 1.6" type="number" [(ngModel)]="altura"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="enviar()" expand="block" shape="round">Calcular</ion-button>
  </ion-content>

